
body{
    background-color:  #e6e6e6;
}
#block{
    margin-top: 1%;
    background-color:   #4d94ff;

    border: black 10px solid;
padding: 10px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 36px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 36px;
}
li{
    float: left;
    border-right: 1px solid blue;
}
a{
    display: block;
    padding: 0px 28px;
    color: white;
    text-decoration: none;

}
a:hover{
    background-color: blue;
}
#footer{
    border-top: 5px solid black;
    padding-left: 40%;
    margin-top: 2%;
}
#mail{
    text-decoration: green ;
}
#contact{}
#bio{}
#username{}